<footer id='contact' class='contact'>
  <div class='contact-info container'>
    <div class='personal-contact'>
      Quentin GIRARD<br>
      quentin@girard-rails.fr<br>
      06.45.34.93.65
    </div>

    <div class='social-media'>
      <a href='https://www.linkedin.com/in/girard-rails/'>
        <i class='fab fa-linkedin'></i>
      </a>
      <a href='https://github.com/nissaRevane'>
        <i class='fab fa-github'></i>
      </a>
  </div>
</footer>