<div class="summary-skill skill-agile">
  <h3>L'agilité</h3>
  <p>
    Être développeur ce n'est pas que savoir coder, c'est savoir répondre à un besoin par une solution technique. La difficulté dans le domaine du numérique c'est que le client ne sait pas ce qu'il veut et son besoin évolue vite. Ni lui ni le commercial n'est fautif, c'est la nature des projets technologiques. Heureusement ce n'est pas nouveau et les professionnels de la tech ont développé des méthodes de travail pour gérer la volatilité du besoin.
  </p>
  <p>
    L'agilité n'est pas une recette de cuisine, c'est une façon d'aborder la création d'un produit. On va chercher à livrer de la valeur souvent, par itérations et en recueillant du feedback pour adapter le plan en permanence. Cette culture de l'amélioration continue me passionne, je me forme au quotidien sur le sujet. J'ai notamment participé à <a href='https://attls21.mystrikingly.com/'>l'agile tour de Toulouse en 2021</a>. C'était une super expérience pendant laquelle j'ai pu échanger avec des confrères développeurs, PO, chef de projet sur nos pratiques du quotidien.
  </p>
</div>