<div class="summary-skill skill-architecture">
  <h3>Architecture</h3>
  <p>
    Designer un système informatique est une tâche complexe qui nécessite la maitrise de plusieurs disciplines. Pour un projet de plateforme d'investissement j'ai été en charge de la conception de l'architecture logicielle. En m'appuyant sur les besoins fonctionnels et non fonctionnels, j'ai défini les composants logiciels, les interfaces et les interactions entre ces composants. Bien sur on ne part jamais de 0 et je me suis inspiré de la plateforme de crowdfunding existante. C'est un exercie différent de la programmation qui nécessite de prendre du recul pour voir le système dans son ensemble.
  </p>
</div>