<div class="summary-skill skill-architecture">
  <h3>Architecture</h3>
  <p>
    Designer un système informatique est une tâche complexe qui nécessite de prendre en compte de nombreux paramètres. J'ai une bonne connaissance des principes d'architecture logicielle et des design patterns. J'ai travaillé sur des projets qui nécessitaient de mettre en place des architectures distribuées, des microservices, des architectures orientées événements, etc. J'ai également une bonne connaissance des problématiques liées à la scalabilité, à la disponibilité, à la sécurité, à la maintenabilité, etc.
  </p>
</div>