<div class="summary-skill skill-architecture">
  <h3>Architecture</h3>
  <p>
    Faire de l’architecture c’est commencer par prendre du recul et se demander ce qui est important pour notre système. C’est aussi se poser des questions sur les contraintes et les opportunités qui s’offrent à nous. C’est enfin choisir les bonnes technologies et les bonnes pratiques pour répondre à ces questions. Dans ma carrière, j’ai travaillé sur des systèmes de différentes tailles et de différentes natures. J’ai pu explorer des architectures monolithiques, orientées services ou événementielles. J’ai aussi pu travailler sur des problématiques de passage à l’échelle, de haute disponibilité, de tolérance aux pannes, de sécurité et de coûts. J’ai appris à apprécier les avantages et les inconvénients de chaque approche, et à choisir la bonne en fonction du contexte.
  </p>
</div>