<div class="summary-skill skill-async">
  <h3>Asynchrone</h3>
  <p>
    J'ai une bonne connaissance des problématiques liées à l'asynchrone. J'ai travaillé sur des projets qui nécessitaient de gérer des tâches de fond, des websockets, des queues de messages, des tâches planifiées, etc. J'ai utilisé des outils comme Sidekiq, ActiveJob, ActionCable, etc. pour répondre à ces besoins. J'ai également une bonne connaissance des problématiques liées à la concurrence et à la parallélisation.
  </p>
</div>