<div class="summary-skill skill-cloud">
  <h3>Cloud computing</h3>
  <p>
    L’adoption des technologies cloud est un levier majeur pour améliorer l’évolutivité et la flexibilité des applications modernes. Je conçois des architectures cloud robustes et sécurisées avec les services d’AWS et la plateforme Heroku. Grâce à l’automatisation de l’infrastructure via des outils tels que Terraform et Ansible, je suis capable de déployer des environnements reproductibles et évolutifs en un minimum de temps.
  </p>
  <p>
    Je mets en place des solutions cloud optimisées en termes de coûts, tout en garantissant la haute disponibilité et la sécurité des services déployés. Cela passe par l’utilisation de conteneurs (Docker) et d’orchestrateurs (Kubernetes) pour assurer un déploiement rapide et une gestion efficace des ressources. De plus, je veille à ce que les bonnes pratiques de sécurité soient respectées à chaque étape, que ce soit au niveau de la gestion des identités, des accès ou de la protection des données.
  </p>
  <p>
    Collaborant étroitement avec les équipes DevOps, je développe des pipelines CI/CD qui automatisent les tests et déploiements, garantissant ainsi une mise en production fluide et fiable.
  </p>
</div>