<div class="summary-skill skill-cloud">
  <h3>Cloud computing</h3>
  <p>
    Tout les projets que j'ai réalisé ont été déployé sur des serveurs cloud, de nos jours c'est le cas de la majorité des logiciels Saas. J'ai beaucoup travaillé avec Heroku et AWS (EC2, RDS et S3), sur les projets les plus complexe je suis épaulé par une équipe de Devops. Cependant il m'arrive d'intervenir sur de l'Infrastructure as Code avec Terraform et Ansible. C'est une compétence qu'il me tiens à coeur de développer car elle est très liée à l'ingénerie backend. De mon expériences certaines startup néglige la complexité et l'impact de l'infrastructure sur le développement logiciel. Sur des projets mature il est important de bien comprendre les contraintes de l'infrastructure pour éviter des problèmes de fiabilité, deperformance et de sécurité.
  </p>
</div>