<div class="summary-skill skill-frontend">
  <h3>Base de données</h3>
  <p>
    La gestion de base de données est la discipline backend que je préfère. Un domaine tellement vaste qu'on pourrait passer sa carrière sur une de ses composantes (indexation, réplication, partition, sharding, isolation, etc.). Dans mon cas j'ai construit mon expérience sur des bases de données relationnelles comme PostgreSQL et MySQL. J'utilise principalement l'ORM ActiveRecord de Ruby on Rails comme couche d'abstraction.
  </p>
  <p>
    La base de données d'un système est toujours un élément critique. Les enjeux de performance, de sécurité et de gestion des coûts se cristallisent souvent autour d'une bonne gestion des données. Selon le contexte on met l'accent sur un point ou un autre. Par exemple, lorsque je gère des données financières la sécurité et la fiabilité était au cœur de mes préoccupations alors que dans l'IOT on cherche en permanence à optimiser les performances et les coûts de l'infrastructure.
  </p>
</div>