<div class="summary-skill skill-frontend">
  <h3>Base de données</h3>
  <p>
    La gestion de base de données est la discipline backend que je préfère. C’est un domaine tellement vaste qu’on pourrait passer toute une carrière sur une seule de ses composantes (indexation, réplication, partition, sharding, isolation, etc.). Pour ma part, j'ai construit mon expérience sur des bases de données relationnelles comme PostgreSQL et MySQL. J'utilise principalement l'ORM ActiveRecord de Ruby on Rails comme couche d'abstraction.
  </p>
  <p>
    Les enjeux de performance, de sécurité et de gestion des coûts se cristallisent souvent autour d'une bonne gestion des données, ce qui en fait un élément critique pour un système. Selon le contexte, on peut choisir de mettre l'accent sur un point ou un autre. Par exemple, lorsque je gère des données financières, la sécurité et la fiabilité sont au cœur de mes préoccupations. Dans l'IOT, je cherche en permanence à optimiser les performances et les coûts de l'infrastructure.
  </p>
</div>