<div class="summary-skill skill-frontend">
  <h3>Base de données</h3>
  <p>
    Probablement mon domaine préféré de l'ingénerie backend. Une discipline tellement vaste qu'on pourrait passer sa carrière sur un de ses sous-domaine (indexation, replication, partition, sharding, isolation, etc.). J'ai principalement travaillé avec PostgresSQL et l'ORM ActiveRecord de Ruby on Rails. La base de donnée d'un système est souvent un élément critique, sur ce point se cristalise les enjeux de performance, de sécurité et de gestion des couts. Selon le contexte on met l'accent sur un point ou un autre. Par exemple lorsque je gère des données financières la sécurité et la fiabilité était au coeur de mes préoccupations alors que dans l'IOT on cherche en permanence à optimiser les performace et les couts de l'infrastructure.
  </p>
</div>