<div class="summary-skill skill-frontend">
  <h3>Frontend</h3>
  <p>
    Je suis un ingénieur backend et j'ai construit mon expertise autour des technologies backend. Je m'intéresse au frontend pour des besoins ponctuels, pour des projets personnels ou dans le cas du design global d'un système. Ruby on Rails est un framework qui cherche à simplifier le développement web, il propose des solutions pour le frontend comme Hotwire qui est une combinaison de Turbo et Stimulus. Cependant j'ai le plus souvent utilisé une API Ruby on Rails et une application frontend indépendante. J'ai principalement travaillé avec Vue JS, je maîtrise aujourd'hui bien les bases de ce framework et je suis capable de construire des interfaces simples et ergonomiques.
  </p>
</div>