<div class="summary-skill skill-frontend">
  <h3>Frontend</h3>
  <p>
    Je suis un ingénieur backend et j'ai construit mon expertise autour des technologies backend. Je m'intéresse au frontend pour des besoins ponctuels, pour des projets personnels ou dans le cas du design globale d'un système. J'ai principalement travaillé avec VueJS, je maitrise aujourd'hui bien les base de se framework et je suis capable de construire des interfaces simples et ergonomiques. J'ai déjà mis en place des environnement en utilisant vite ou hotwire pour des besoins de temps réel.
  </p>
</div>