<div class="summary-skill skill-monitoring">
  <h3>Monitoring</h3>
  <p>
    Un système informatique est un organisme vivant, il évolue, se dégrade, se répare, se renforce. Pour comprendre son état et anticiper ses besoins, il est nécessaire de suivre son activité et ses performances. Selon le besoin, on peut suivre différentes métriques. tout d'abord il y a les caractéristiques de l'infrastructure (CPU, RAM, Disque, Réseau), ensuite il y a les métriques applicatives (nombre de requêtes, temps de réponse, erreurs 500). Il existe des outils complets, j'ai par exemple utilisé Datadog pour suivre l'activité de plusieurs applications. J'ai aussi utilisé Rollbar pour suivre les erreurs et les performances.Mais on peut aussi mettre en place des solutions techniquement plus simples, par exemple avec des alertes par email.
  </p>
</div>