<div class="summary-skill skill-rails">
  <h3>Ruby on Rails</h3>
  <p>
    Mon langage et mon framework de prédilection, je l'ai découvert en 2018 vers la fin de mes études et il ne m'a plus jamais quitté depuis. Durant ma carrière j'ai travaillé sur des projets très differents ce qui m'a permis d'explorer les différentes approches de développement que propose cette technologie. J'aime particulièrement la philosophie de Rails qui permet de se concentrer sur le métier et non sur les détails techniques. C'est un framework qui scale très bien, on peut lancer un POC très facilement et dans le même temps il est possible de gérer une plateforme IOT qui reçoit des millions de requêtes par jour.
  </p>
</div>