<div class="summary-skill skill-rails">
  <h3>Ruby on Rails</h3>
  <p>
    En 2018, mes études se terminent et je découvre Ruby on Rails, qui devient rapidement mon framework de prédilection. Il m’accompagne alors dans toutes mes expériences professionnelles, jusqu'à aujourd'hui. En travaillant sur des projets variés, j'ai pu explorer les nombreuses possibilités offertes par cette technologie. Avec Ruby on Rails, il est possible de moduler le niveau de technicité lors de la construction d’une application. On peut choisir de se reposer sur ses conventions, mais on peut aussi aller chercher plus de complexité et de finesse en personnalisant les composants, en utilisant les engines, en créant des services, ou encore en utilisant de la meta-programmation. Le framework a été conçu pour gérer le passage à l'échelle. Dans ma carrière, j'ai pu l'utiliser autant pour coder un PoC durant un stage que pour gérer une plateforme IOT avec des milliers de requêtes par seconde.
  </p>
</div>