<div class="summary-skill skill-test">
  <h3>Test</h3>
  <p>
    Une application vivante évolue forcément, pour éviter les régressions et garantir la qualité du code, il est indispensable de mettre en place des tests automatisés. Dans ma carrière j'ai principalement travaillé avec RSpec pour écrire des tests unitaires et fonctionnels. J'ai également utilisé Capybara pour écrire des tests d'intégration. Mais une stratégie de test réussie ce n'est pas seulement la maitrise d'un framework de test. C'est une stratégie donc des règles d'équipes à mettre en place: quels tests écrire ? dans quels cas ? qui les écris ? comment les maintenir ? comment les exécuter ? comment les analyser ? etc...
  </p>
</div>