<div class="summary-skill skill-test">
  <h3>Test</h3>
  <p>
    Une application évolue sans cesse. Pour éviter les régressions et garantir la qualité du code, il est donc indispensable de mettre en place des tests automatisés. J’ai beaucoup travaillé avec le framework RSpec pour écrire des tests unitaires et des tests d'intégration. J’ai également participé à l’écriture de tests end to end avec Cucumber ou Selenium. Mais pour créer une application fiable, il ne suffit pas de maîtriser un framework de test. Il faut également une stratégie avec des règles d'équipes à mettre en place. Quels tests écrire ? Dans quels cas ? Qui les écrira ? Quand les exécuter ? Comment les analyser ? Comment les maintenir ?
  </p>
</div>