<div class="summary-skill skill-test">
  <h3>Test</h3>
  <p>
    Une application vivante évolue, pour éviter les régressions et garantir la qualité du code, il est indispensable de mettre en place des tests automatisés. Dans l’environnement Ruby on Rails j’ai beaucoup travaillé avec le framework RSpec pour écrire des tests unitaires et des tests d'intégration. J’ai également participé à l’écriture de test end to end avec Cucumber ou Selenium. Mais une stratégie de test réussie ce n'est pas seulement la maîtrise d'un framework de test. C'est une stratégie donc des règles d'équipes à mettre en place. Quels tests écrire ? Dans quels cas ? Qui les écrira ? Comment les maintenir ? Quand les exécuter ? Comment les analyser ?
  </p>
</div>