<section class='company enerfip container'>
  <div class='company-header'>
    <div class='hightlights'>
      <h2>Enerfip</h2>
      <p class='experience-duration'>De juillet 2022 à aujourd’hui</p>
    </div>
    <img
      class='company-logo square-logo'
      src='/public/images/logos/enerfip_company_logo.webp'
      alt='Logo d’Enerfip'>
  </div>

  <div class='company-tags'>
    <%= render('shared/tag.erb', tag: 'Ruby on Rails', color: 'primary-far') %>
    <%= render('shared/tag.erb', tag: 'Postgresql', color: 'secondary-far') %>
    <%= render('shared/tag.erb', tag: 'RabbitMQ', color: 'primary-far') %>
    <%= render('shared/tag.erb', tag: 'AWS', color: 'secondary-far') %>
  </div>

  <p>
    Dans une équipe de 7 personnes, j’ai comme responsabilité partagée
    l’amélioration et la maintenance de la plateforme de financement participatif Enerfip.
    Je suis en charge depuis 6 mois de la conception et du lancement de la plateforme d’Enerfip Gestion,
    un fond d’investissements fondé en 2022. Pour mener à bien ce projet
    j’ai dans mon équipe une développeuse junior et un designer.
  </p>
</section>