<section class='experience insa container'>
  <div class='experience-header'>
    <div class='hightlights'>
      <h2>INSA Hauts de France</h2>
      <p class='experience-duration'>Septembre 2019</p>
    </div>
    <img
      class='experience-logo long-logo'
      src='/public/images/logos/insa_degree_logo.webp'
      alt="Logo de l'INSA">
  </div>

  <div class='experience-tags'>
    <%= render('shared/tag.erb', tag: 'Lean', color: 'primary-far') %>
    <%= render('shared/tag.erb', tag: 'Agilité', color: 'secondary-far') %>
    <%= render('shared/tag.erb', tag: 'Data', color: 'primary-far') %>
    <%= render('shared/tag.erb', tag: 'Développement', color: 'secondary-far') %>
  </div>

  <p>
    Diplôme d'ingénieur en informatique et génie industriel
  </p>
</section>
