<section class='experience shippingbo container'>
  <div class='experience-header'>
    <div class='hightlights'>
      <h2>Shippingbo</h2>
      <p class='experience-duration'>D'octobre 2019 à juillet 2022</p>
    </div>
    <img
      class='experience-logo long-logo'
      src='/public/images/logos/shippingbo_company_logo.webp'
      alt='Logo de Shippingbo'>
  </div>

  <div class='experience-tags'>
    <%= render('shared/tag.erb', tag: 'Ruby on Rails', color: 'primary-far') %>
    <%= render('shared/tag.erb', tag: 'Postgresql', color: 'secondary-far') %>
    <%= render('shared/tag.erb', tag: 'Sidekiq', color: 'primary-far') %>
    <%= render('shared/tag.erb', tag: 'Heroku', color: 'secondary-far') %>
  </div>

  <p>
    Au sein d’une équipe technique d’une quinzaine de développeurs,
    j’ai travaillé pour ShippingBo, qui est une technologie dédiée à la logistique e-commerce.
    La solution couvre toutes les étapes de la commande à l'expédition.
    J’ai travaillé sur les fonctions principales de l’application (OMS, WMS, TMS).
    J’ai notamment participé à la refonte des offres commerciales
    dans le but d’offrir un service plus adapté à chaque typologie de client.
  </p>
</section>