<div class='summary-card'>
  <img
    class='summary-card-logo'
    src='/public/images/logos/enerfip_company_logo.webp'
    alt='Logo d’Enerfip'
  >

  <div class='summary-card-highlights'>
    <h2>Enerfip</h2>
    <p class='summary-card-duration'>07/2022 - 03/2024</p>
  </div>

  <div class='summary-card-tags'>
    <%= render('shared/tag.erb', tag: 'Ruby on Rails', color: 'primary-far') %>
    <%= render('shared/tag.erb', tag: 'Postgresql', color: 'secondary-far') %>
    <%= render('shared/tag.erb', tag: 'Heroku', color: 'primary-far') %>
    <%= render('shared/tag.erb', tag: 'AWS', color: 'secondary-far') %>
  </div>
</div>
