<!DOCTYPE html>
<html lang='fr'>
  <head>
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mes expériences</title>
    <link rel='stylesheet' href='/public/css/shared.css'>
    <link rel='stylesheet' href='/public/css/shared/header.css'>
    <link rel='stylesheet' href='/public/css/shared/contact.css'>
    <link rel='stylesheet' href='/public/css/shared/tag.css'>
    <link rel='stylesheet' href='/public/css/experiences.css'>
    <link rel='stylesheet' href='/public/css/experiences/company.css'>
  </head>

  <body>
    <%= render('shared/header.erb') %>

    <main class='main-content-after-header'>
      <h1 class='container'>Mes expériences de développeur Ruby on Rails</h1>
      <%= render('experiences/enerfip.erb') %>
      <%= render('experiences/shippingbo.erb') %>
    </main>

    <%= render('shared/contact.erb') %>
  </body>
  <script src="https://kit.fontawesome.com/7ab03c2740.js" crossorigin="anonymous"></script>
</html>