<main class='main-content-after-header'>
  <%= render('home/welcome.html.erb') %>

  <section id='skills' class='home-skills container'>
    <h2>Compétences</h2>
    <%= render('home/skills.html.erb', skills:) %>
  </section>
</main>
