<main class='main-content-after-header'>
  <%= render('home/welcome.html.erb') %>

  <section id='interview' class='home-interview container'>
    <iframe
      src="https://www.youtube.com/embed/dbPyEX7a2TY?si=pqRtn-w2NpD0qI_x"
      title="Interview Quentin GIRARD"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen>
    </iframe>
  </section>

  <section id='skills' class='home-skills container'>
    <h2>Compétences</h2>
    <div class='home-skills-content'>
      <%= render('home/skills.html.erb', skills:, selected_skill:) %>
      <%= render "home/skill_summary/#{selected_skill}.html.erb" %>
    </div>
  </section>
</main>
