<main class='main-content-after-header'>
  <%= render('home/welcome.html.erb') %>

  <section id='skills' class='home-skills container'>
    <h2>Compétences</h2>
    <div class='home-skills-content'>
      <%= render('home/skills.html.erb', skills:, selected_skill:) %>
      <%= render "home/skill_summary/#{selected_skill}.html.erb" %>
    </div>
  </section>
</main>
