<!DOCTYPE html>
<html lang='fr'>
  <head>
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Girard Rails</title>
    <link rel='stylesheet' href='/public/css/shared.css'>
    <link rel='stylesheet' href='/public/css/index.css'>
    <link rel='stylesheet' href='/public/css/index/header.css'>
    <link rel='stylesheet' href='/public/css/index/welcome.css'>
    <link rel='stylesheet' href='/public/css/index/skills.css'>
    <link rel='stylesheet' href='/public/css/index/contact.css'>
  </head>

  <body>
    <%= render('index/header.erb') %>
    <%= render('index/welcome.erb') %>
    <%= render('index/skills.erb') %>
    <%= render('index/contact.erb') %>
  </body>
  <script src="https://kit.fontawesome.com/7ab03c2740.js" crossorigin="anonymous"></script>
</html>
