<!DOCTYPE html>
<html lang='fr'>
  <head>
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Girard Rails</title>
    <link rel='stylesheet' href='/public/css/shared.css'>
  </head>

  <body>
    <div class='container'>
      <div class='not-found'>
        <h1>404</h1>
        <h2>Page not found</h2>
        <p>Sorry, but the page you were trying to view does not exist.</p>
        <a href='/'>Go back to home page</a>
      </div>
    </div>
  </body>
  <script src="https://kit.fontawesome.com/7ab03c2740.js" crossorigin="anonymous"></script>
</html>