.home-interview {
  margin-top: 20px;
  display: flex;
  aspect-ratio: 16 / 9;
}

.home-interview iframe {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.home-skills {
  margin-top: -40px;
  padding-top: 60px;
}

.home-skills-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.skills {
  flex: 2 1 300px;
}

.summary-skill {
  flex: 1 1 300px;
}

@media (max-width: 700px) {
  .summary-skill {
    flex: 1 1 100%;
  }
}
