:root {
  --color-primary: #980905;
  --color-primary-near: #c52f24;
  --color-primary-far: #f1938c;
  --color-secondary: #243440;
  --color-secondary-near: #445460;
  --color-secondary-far: #647480;
}