:root {
  --color-primary: #980905;
  --color-primary-near: #c52f24;
  --color-primary-far: #f1938c;
  --color-secondary: #243440;
  --color-secondary-near: #6289a6;
  --color-secondary-far: #cbd8e1;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1200px;
  margin: auto;
}
