<footer class='contact'>
  <div class='contact-info container'>
    <div class='personal-contact'>
      Quentin GIRARD<br>
      girard.quentin359@gmail.com<br>
      06.45.34.93.65
    </div>

    <div class='social-media'>
      <a href='https://www.linkedin.com/in/quentin-girard-itengineer/'>
        <i class='fab fa-linkedin'></i>
      </a>
      <a href='https://github.com/nissaRevane'>
        <i class='fab fa-github'></i>
      </a>
  </div>
</footer>