<header class='application-header'>
  <a href="" class="logo">Girard Rails</a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn">
    <span class="navicon"></span>
  </label>

  <ul class="menu">
    <li><a href="#welcome">Accueil</a></li>
    <li><a href="#skills">Compétences</a></li>
    <li><a href="#blog">Blog</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</header>
