<section id='welcome' class='welcome container'>
  <div class='catch-phrase'>
    <span class='sentence-start'>
      Toute application commence par
    </span><br>
    <strong class='sentence-end'>
      un backend fiable et performant
    </strong>
  </div>

  <div class='profile'>
    <div class='presentation'>
      <h2>Quentin GIRARD</h2>
      <p class='description'>Développeur Ruby on Rails Sénior</p>
    </div>
    <img
      class='profile-picture'
      src='/public/images/quentin_girard_profile.webp'
      alt='Photo de profil de Quentin GIRARD'
    >
</div>
</section>
