.skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: repeat(3, 1fr);
}

.skill {
  border-radius: 999px;
  border: 5px solid var(--color-primary-near);
  overflow: hidden;
}

.skill img {
  width: 100%;
}

.grid-top-left {
  grid-area: 1 / 1 / 2 / 2;
}

.grid-top {
  grid-area: 1 / 2 / 2 / 3;
}

.grid-top-right {
  grid-area: 1 / 3 / 2 / 4;
}

.grid-middle-left{
  grid-area: 2 / 1 / 3 / 2;
}

.grid-middle {
  grid-area: 2 / 2 / 3 / 3;
}

.grid-middle-right {
  grid-area: 2 / 3 / 3 / 4;
}

.grid-bottom-left {
  grid-area: 3 / 1 / 4 / 2;
}

.grid-bottom {
  grid-area: 3 / 2 / 4 / 3;
}

.grid-bottom-right {
  grid-area: 3 / 3 / 4 / 4;
}