<div class='experience-show-content dickson container'>
  <p>
    Quand on aime le backend on peut s'intéresser à plein de sous catégories: les protocoles de communication, les serveurs, les proxy, le cache ... Ma préféré c'est la base de données et quoi de mieux pour un challenge de gestion de données que de travailler sur un projet IOT. Ca c'est l'histoire romancé mais ça explique quand même beaucoup pourquoi j'ai rejoint Dickson.
  </p>
  <p>
    Dickson est une société franco américaine qui propose une solution IOT de surveillance de température dans le domaine pharmaceutique. En gros les grandes entreprises du secteur pharmaceutique ont des entrepôts de médicaments qui doivent être conservé à une température précise. Si la température monte ou descend trop ça peut dégrader les médicaments et les organismes de controle ne rigole pas avec ça. Dickson propose donc des capteurs de température qui envoient des données à une application web qui permet de surveiller les températures en temps réel et d'alerter en cas de problème.
   </p>
   <p>
    Dans le contexte de la fusion entre les entités française et américaine, je suis en charge de reprendre le développement de l’application cloud américaine.
  </p>
</div>
