<div class='experience-show-content dickson container'>
  <p>
    Dickson est une société franco américaine qui propose une solution IOT de
    surveillance de température dans le domaine pharmaceutique. Dans le contexte
    de la fusion entre les entités française et américaine, je suis en charge de
    reprendre le développement de l’application cloud américaine.
  </p>
</div>
