<div class='experience-show-content dickson container'>
  <p>
    Parmi les disciplines backend j'ai toujours eu une préférence pour ce qui touche à la base de donnée. En 2024 je veux aller plus loin dans cette direction. Je suis contacté par Dickson, une société franco-américaine qui propose une solution IOT de surveillance de température dans le domaine pharmaceutique. Le challenge est parfait, je vais travailler sur un système qui doit gérer des milliards de données quasiment en temps réel et qui doit être disponible 24/7. 
   </p>
   <p>
    Au défi technique s'ajoute un bouleversement organisationnel. En effet, la société française a été rachetée par la société américaine récemment et les deux entités fusionnent. La qualité des ingénieurs français étant reconnue à l'internationale, il a été décidé de créer une équipe à Montpellier pour reprendre les développement américain. C'est donc un challenge de taille que de reprendre un projet existant avec une période de transition de 6 mois pour que l'équipe américaine puisse nous former.
   </p>
   <p>
    La plateforme se compose d'un monolithe principal en Ruby on Rails et de services annexes développés en Elixir. Je suis responsable des développements sur l'application Ruby on Rails mais je suis fréquemment amené à travailler sur Elixir. C'est l'occasion pour moi de découvrir ce langage et de m'ouvrir à la programmation fonctionnelle. Cette ouverture d'esprit me permet de questionner mes pratiques de développement et de m'améliorer en tant que développeur.
   </p>
</div>
