<div class='experience-show-content dickson container'>
  <p>
    Quand on aime le backend on peut s'intéresser à plein de sous catégories: les protocoles de communication, les serveurs, les proxy, le cache ... Ma préféré c'est la base de données et quoi de mieux pour un challenge de gestion de données que de travailler sur un projet IOT. C'est un peu du story telling mais ça explique quand même beaucoup pourquoi j'ai rejoint Dickson.
  </p>
  <p>
    Dickson est une société franco américaine qui propose une solution IOT de surveillance de température dans le domaine pharmaceutique. En gros les grandes entreprises du secteur pharmaceutique ont des entrepôts de médicaments qui doivent être conservé à une température précise. Si la température monte ou descend trop ça peut dégrader les médicaments et les organismes de controle ne rigole pas avec ça. Dickson propose donc des capteurs de température qui envoient des données à une application web qui permet de surveiller les températures en temps réel et d'alerter en cas de problème.
   </p>
   <p>
    Au dela du challenge technique qui me pousse à trouver des solutions pour stocker et accéder à des milliards de données rapidement et efficacement, j'ai aussi du participer à un boulversement organisationel. En effet, la société française a été rachetée par la société américaine et les deux entités ont décidé de fusionner. On a de quoi être fier car il a été décidé de reprendre le développement de l'application cloud américaine par la création d'une équipe française. Il parait que la qualité des ingénieurs française est reconnue à l'international. C'est donc un challenge de taille que de reprendre un projet existant avec une période de transition de 6 mois pour que l'équipe américaine puisse nous former.
   </p>
   <p>
    La plateforme se compose d'un monolithe principale en Ruby on Rails et de quelques services annexes dévloppés en Elixir. Je suis principalement responsable de l'application Ruby on Rails mais je suis fréquement amené à travailler sur les services annexes. C'est l'occasion pour moi de découvrir Elixir et de m'ouvrir à la programmation fonctionnelle. Cette ouverture d'esprit technique me permet de questionner mes pratiques de développement et de m'améliorer en tant que développeur.
   </p>
</div>
