<div class='experience-show-content dickson container'>
  <p>
    En 2024, je suis contacté par Dickson, une société franco-américaine qui propose une solution IoT de surveillance de température appliquée au domaine pharmaceutique. Parmi les disciplines backend, j’ai toujours eu une préférence pour ce qui a trait aux bases de données. Dickson propose donc le challenge parfait : travailler sur un système qui doit gérer des milliards de données quasiment en temps réel et disponible 24/7. Je décide donc de rejoindre l’aventure.
   </p>
   <p>
    Au défi technique s’ajoute un bouleversement organisationnel. En effet, il s’agit de la fusion de deux entités, la société française ayant été rachetée par la société américaine. Dickson a décidé de faire confiance à l’excellence des ingénieurs français, et de créer une équipe à Montpellier pour reprendre les développements américain. Nous ne sommes que deux à devoir assurer cette mission, grâce à une période de transition de 6 mois pour que l’équipe américaine puisse nous former. Le challenge est donc de taille.
   </p>
   <p>
    La plateforme se compose d’un monolithe principal en Ruby on Rails, et de services annexes développés en Elixir. Je suis responsable des développements sur l’application Ruby on Rails, comme la gestion du système d'alarme ou la génération de rapport PDF. Mais je suis aussi fréquemment amené à travailler sur Elixir. C’est l’occasion pour moi de découvrir ce langage, et plus généralement de m'ouvrir à la programmation fonctionnelle. Cela me permet de questionner mes pratiques de développement et de m'améliorer en tant que développeur.
   </p>
</div>
