<div class='experience-show-content enerfip container'>
  <p>
    A l'été 2022 je fais du Ruby on Rails depuis 4 ans. J'ai besoin de passer à l'étape supérieure et gérer un projet dans sa globalité. A l'époque, je place mes économies chez Enerfip, une fintech spécialisée dans le financement des énergies renouvelables. J'apprends qu'ils cherchent un développeur pour lancer leur plateforme dédiée à leur nouveau fond d'investissement. C'est l'occasion pour moi de prouver que je peux aller plus loin que le développement et m'occuper de la conception d'une application. Sur ce projet je ne part pas de zéro. La plateforme de crowdfunding a déjà posée les bases du modèle de données et de l'architecture. Les nouvelles briques que je développe doivent s'intégrer dans le système et certains services comme l'authentification et le paiement sont à mutualiser.
  </p>
  <p>
    Mes missions sont plus diverses, je participe au recrutement, je gère la communication avec le business et je construis la roadmap. Je suis rapidement rejoint par une nouvelle développeuse pour m'aider sur le projet. On monte en compétence ensemble sur plusieurs technologies comme Vue JS ou AWS S3.
  </p>
  <p>
    Étonnement je vais me prendre de passion pour la finance et les énergies renouvelables. Je vais passer la certification de l'Autorité des Marchés Financiers et participer à des conférences et des salons sur la transition énergétique comme Energaïa. Encore aujourd'hui je considère ces sujets comme des passions et je suis très content d'avoir pu les découvrir grâce à cette expérience.
  </p>
</div>
