<div class='experience-show-content insa container'>
  <p>
    À l'INSA j'ai étudié l'informatique, d'abord orienté vers les applications industrielles avec des cours d'automatisme, de traitement du signal, de GPAO, de robotique et de gestion de production. Au fur et à mesure des projets je me suis orienté vers le développement de software d'abord avec des technologies comme Matlab, C++ ou Python puis avec des frameworks web comme Flask ou Ruby on Rails. Ces études m'ont donnés des bases théoriques solides qui me sont encore utiles aujourd'hui. J'ai obtenu mon diplôme en 2019 après un stage de fin d'étude chez Radiall.
  </p>
</div>
