<div class='experience-show-content master container'>
  <p>
    En dernière année à l'INSA j'ai eu l'opportunité de suivre un master en management à l'IAE de Valenciennes en parrallèle de mon cursus d'ingénieur. J'y ai découvert des domaines et des compétence complémentaires à l'ingénierie comme la gestion de projet, la finance, le marketing ou la communication. J'ai notament eu une introduction à la gestion de projet agile avec une étude théorique de SCRUM. J'ai ainsi découvert en avance une manière de travailler très adapter aux projet de développement logiciel. J'ai obtenu ce diplôme en même temps que mon diplôme d'ingénieur en 2019.
  </p>
</div>
