<div class='experience-show-content master container'>
  <p>
    En dernière année d’école d’ingénieurs, j'ai eu l'opportunité de suivre en parallèle un master en management à l'IAE de Valenciennes. J'y ai acquis des connaissances complémentaires à l'ingénierie, comme la gestion de projet, la finance, le marketing ou encore la communication. J'ai notamment bénéficié d’une introduction à la gestion de projet agile, avec une étude théorique de SCRUM. J'ai ainsi découvert une manière de travailler très adaptée aux projets de développement logiciel.
  </p>
</div>
