<div class='experience-show-content radiall container'>
  <p>
    Début 2019 mes derniers cours d'étudiant se termine. Je sais que je veux travailler dans le développement de software. Depuis maintenant un an je me passionne pour le développement web, j'ai très envie d'aller plus loin dans cette voie avec mon stage de fin d'étude.
    Je trouve l'opportunité chez Radiall, un industriel français expert des connecteurs de haute technologie pour les télécommunications, l'aéronotique et le spatial. Au sein de la R&D les ingénieurs matériaux cherche une solution pour partager leurs connaissance à travers les différent laboratoire en Europe. Le besoin est assez spécifique, les bases de connaissances classique (Confluence, Sharepoint) ne sont pas adaptées à leur besoin. Je propose saisie l'opportunité pour proposer le développement d'une plateforme web sur mesure.
  </p>
  <p>
    Durant l'année j'ai découvert Ruby on Rails pour un projet d'étude. Il se trouve que la version 6.0 sort en aout 2019 en même temps que le début de mon stage. Dans cette release Rails introduit l'éditeur de contenu Action Text directement lié à Active Record et Active Storage. Ça correspond parfaitement à mes besoin et j'ai très envie de continuer à travailler avec ce framework. Grâce à Ruby on Rails je met rapidement en place un POC et j'obtient l'accord de mon tuteur pour continuer sur cette voie. Le projet devient de plus en plus sérieux et on décide de le brancher au SI de l'entreprise.
  </p>
  <p>
    Je suis malheureusement le seul développeur sur le sujet, je découvre ainsi qu'un projet qui n'a pas le soutien d'une équipe est fragile. Malgré les efforts de documentation et de tests le contexte ne permet pas de lui offrir une suite. C'est une leçon que je retiens encore aujourd'hui: un software ce n'est pas que de la technique, c'est aussi de la communication, de la documentation, des processus et des moyens. Une bonne solution technique n'est pas nécesseraiment une bonne solution pour l'entreprise.
  </p>
</div>