<div class='experience-show-content radiall container'>
  <p>
    Radiall est une entreprise spécialisée dans la fabrication de connecteurs
    pour l'aéronautique, la défense, l'industrie et les télécommunications.
  </p>
  <p>
    Je devais trouver une solution pour le partage des connaissance technique
    produitent en interne. J'ai profiter de ce projet et de l'autonomie que j'avais
    sur ce projet pour essayer une technologie que je venais de découvrir et qui me
    parraissait idéal pour la réalisation d'un POC : Ruby on Rails !
  </p>
  <p>
    C'est comme ça que j'ai commencé à apprendre Ruby on Rails, en réalisant un
    projet concret, avec des contraintes réelles et des objectifs précis. Même si
    ce projet n'est pas au standard de ce que je pourrais faire aujourd'hui, il
    m'a permis de découvrir Ruby on Rails et son environnement. J'ai pu apprendre
    à gérer une application depuis Heroku, à écrire quelques tests, à devoir gérer une
    CI/CD minimal etc...
  </p>
</div>