<div class='experience-show-content radiall container'>
  <p>
    Début 2019 mes derniers cours d'étudiant se termine. Je sais que je veux travailler dans le développement de software. Depuis maintenant un an je me passionne pour le développement web, j'ai très envie d'aller plus loin dans cette voie avec mon stage de fin d'étude.
    Je trouve l'opportunité chez Radiall, un industriel français expert des connecteurs de haute technologie pour les télécommunications, l'aéronotique et le spatial. Les ingénieurs de la R&D cherche une solution pour partager en interne les connaissances qu'ils produisent sur les matériaux. Le besoin est assez spécifique, je  propose alors le développement d'une plateforme web. On est en phase exploratoire ce qui m'offre beaucoup de liverté je soumet l'idée de développer la plateforme en Ruby on Rails. Je viens tout juste de découvrir ce framework et je suis très enthousiaste à l'idée de le mettre en pratique.
  </p>
  <p>
    Je met rapidement en place un POC et j'obtient l'accord de mon tuteur de stage pour continuer sur cette voie. Je découvre alors Ruby on Rails et je suis impressionné par la simplicité et la puissance de ce framework. Le projet devient peu à peu plus sérieux et on décide de le brancher au SI de l'entreprise pour récupérer les données des ingénieurs et les afficher sur la plateforme web. Je découvre alors les joies de la programmation asynchrone et des API REST.
  </p>
  <p>
    Je suis malheureusement le seul développeur sur le sujet et je découvre aussi qu'un projet qui n'a pas le soutien d'une équipe est fragile. Malgré les efforts de documentation et de tests que j'ai pu faire, le contexte ne permet pas de lui offrir une suite. C'est une leçon que je retiens encore aujourd'hui: un software ce n'est pas que de la technique, c'est aussi de la communication, de la documentation, des processus et des moyens. Une bonne solution technique n'est pas nécesseraiment une bonne solution pour l'entreprise.
  </p>
  <p>
    Ceci dit je venais de découvrir le langage qui allait lancer ma carrière. Je ne peut pas continuer chez Radiall car mon stage n'avait pas pour but d'employer un développeur mais je suis motivé pour continuer à travailler avec Ruby on Rails. Je vais donc chercher un premier emploi en tant que développeur Ruby on Rails.
  </p>
</div>