<div class='experience-show-content radiall container'>
  <p>
    Les cours de ma dernière année d'école d'ingénieur sont terminés. Je sais que je veux travailler dans le développement de software. J'ai notament découvert le développement web et j'ai bien envie de continuer dans cette voie.
  </p>
  <p>
    Je trouve un stage chez Radiall, une entreprise qui fabrique des connecteurs pour les télécommunications. Ils ont besoin d'une solution qui permettra aux ingénieurs de la R&D de partager leurs connaissances sur les matériaux. J'ai directement envie de proposer une solution qui utilise les technologies web. Je viens de découvrir Ruby on Rails et j'ai vraiment très envie d'essayer cette technologie pour un projet concret.
  </p>
  <p>
    Je met rapidement en place un POC et j'obtient l'accord de mon tuteur de stage pour continuer sur cette voie. Je découvre alors Ruby on Rails et je suis impressionné par la simplicité et la puissance de ce framework. Le projet devient peu à peu plus sérieux et on décide de le brancher au SI de l'entreprise pour récupérer les données des ingénieurs et les afficher sur la plateforme web. Je découvre alors les joies de la programmation asynchrone et des API REST.
  </p>
  <p>
    Je suis malheureusement le seul développeur sur le sujet et je découvre aussi qu'un projet qui n'a pas le soutien d'une équipe est fragile. Malgré les efforts de documentation et de tests que j'ai pu faire, le contexte ne permet pas de lui offrir une suite. C'est une leçon que je retiens encore aujourd'hui: un software ce n'est pas que de la technique, c'est aussi de la communication, de la documentation, des processus et des moyens. Une bonne solution technique n'est pas nécesseraiment une bonne solution pour l'entreprise.
  </p>
  <p>
    Ceci dit je venais de découvrir le langage qui allait lancer ma carrière. Je ne peut pas continuer chez Radiall car mon stage n'avait pas pour but d'employer un développeur mais je suis motivé pour continuer à travailler avec Ruby on Rails. Je vais donc chercher un premier emploi en tant que développeur Ruby on Rails.
  </p>
</div>