<div class='experience-show-content shippingbo container'>
  <p>
    C'est mon premier poste en CDI, l'entreprise est une startup en pleine croissance, on développe une solution de gestion logistique pour les e-commerçants. L'enjeux principal est de s'intégrer dans un écosystème de transporteurs et de logisticiens pour proposer une solution complète à nos clients. D'un point de vue technique ça signifie exposer une API public fiable et performante, et consommer un grand nombre d'API exterenes.
  </p>
  <p>
    J'apprend énormément sur la qualité de code (tests, lint, CI/CD, review de code). On me confie des projets interéssant comme la mise en place d'un système de gestion de Webhook pour nos client utilisant l'API. Je fait également mes premiers pas dans la gestion d'infrastructure avec l'administration d'Heroku, la prise en charge des déploiement et la mise en place de Rollbar comme solution de monitoring des erreurs de production.
  </p>
  <p>
    L'entreprise grandi, notre équipe va passer de 5 développeur et un CTO à 10 développeurs, 2 squads, un UX designer et un PO en moins d'un an. On a pas tout réussi du premier coup, mais cette évolution rapide m'a permis de voir les erreurs à ne pas commettre et de comprendre les enjeux de la croissance d'une équipe de dev. On a du réfléchir à un découpage pertinant de notre activité pour la mise en place des squads, on a du formaliser nos processus de développement, on a du mettre en place des outils de suivi de projet et de communication.
  </p>
  <p>
    J'avais étudié l'agilité et Scrum en cours, c'était la première fois que je pouvais mettre en pratique ces concepts. J'ai voulu m'investir dans la construction de nos processus agiles et grace à notre PO très expérimenté et pédagogue j'ai pu récupérer la préparation et l'animation des démos qui sont pour moi un moment clé. J'ai égalemet pu particpier à l'agile tour et rencontrer d'autres équipes pour échanger sur nos pratiques.
  </p>
  <p>
    Cette expérience m'a permis d'aller au delà de la technique et de comprendre ce que le métier de développeur signifie en entreprise. C'est un métier bien plus social que l'image qu'il renvoie. Notre mission principale est de construire un produit suffisament fiable pour être vendu. On doit être capable de communiquer les enjeux de la tech pour que l'entreprise puisse prendre les bonnes décisions. Mais inversement on doit être capable de comprendre les enjeux business pour que nos solutions soit adaptés.
  </p>
</div>