<div class='experience-show-content shippingbo container'>
  <p>
  Pour mon premier CDI, je rejoins Shippingobo, une start-up de la logistique e-commerce en pleine croissance. De Cdiscount à FedEx, notre plateforme intègre toutes les API des acteurs du e-commerce pour permettre à nos clients de gérer leur logistique via un seul endroit. L'entreprise grandit rapidement. Notre équipe passe de 5 à 10 développeurs en un an, nous décidons donc de nous structurer en squads. Pour les compléter, un UX designer et un PO nous rejoignent. Cette évolution rapide m'a permis de voir les erreurs à ne pas commettre et de comprendre les enjeux de la croissance d'une équipe de dev. Nous avons dû réfléchir à un découpage pertinent de notre activité pour la mise en place des squads, formaliser nos processus de développement, puis mettre en place des outils de suivi de projet et de communication.
  </p>
  <p>
    On me confie la création d'un système de gestion de Webhook pour nos clients utilisant l'API. J'apprends aussi énormément sur la qualité de code (tests, lint, CI/CD, review de code). Je fais mes premiers pas dans la gestion d'infrastructure avec l'administration d’Heroku, la prise en charge des déploiements, et la mise en place de Rollbar comme solution de monitoring des erreurs de production.
  </p>
  <p>
    J'avais étudié l'agilité et Scrum en cours, mais c'est la première fois que je les mets en pratique en m’investissant dans la construction de nos processus agiles grâce à notre PO expérimenté et pédagogue. Plus précisément, j'ai récupéré la préparation et l'animation des démos qui sont pour moi un moment clé. J'ai également pu participer à l'agile tour et rencontrer d'autres équipes pour échanger sur nos pratiques.
  </p>
  <p>
    Cette expérience m'a permis d'aller au-delà de la technique, et de comprendre ce que le métier de développeur signifie en entreprise. C'est un métier bien plus social que ce qu’on imagine, où les échanges humains sont primordiaux. Notre mission principale est de construire un produit suffisamment fiable pour être vendu, mais on doit être capable de communiquer les enjeux de la tech pour que l'entreprise puisse prendre les bonnes décisions. Inversement, on doit être capable de comprendre les enjeux business pour que nos solutions soient adaptées.
  </p>
</div>