<div class='experience-show-content shippingbo container'>
  <p>
    Lorsque je la rejoint Shippingbo est une startup de la logistique e-commerce en pleine croissance. L'enjeu est d'intégrer notre plateforme au coeur de cette écosystème. De Cdiscount à FedEx nous integront toutes les API des acteurs du e-commerce pour permettre à nos clients de gérer leur logistique sur une seule plateforme. L'entreprise grandit, notre équipe passe de 5 à 10 développeurs en un an. On va également se structurer en squads, recruter un UX designer et un PO. On ne réussi pas tout du premier coup, mais cette évolution rapide m'a permis de voir les erreurs à ne pas commettre et de comprendre les enjeux de la croissance d'une équipe de dev. On a du réfléchir à un découpage pertinant de notre activité pour la mise en place des squads, on a du formaliser nos processus de développement, on a du mettre en place des outils de suivi de projet et de communication.
  </p>
  <p>
    J'apprends énormément sur la qualité de code (tests, lint, CI/CD, review de code). On me confie des projets interéssants comme la création d'un système de gestion de Webhook pour nos clients utilisant l'API. Je fais également mes premiers pas dans la gestion d'infrastructure avec l'administration d'Heroku, la prise en charge des déploiements et la mise en place de Rollbar comme solution de monitoring des erreurs de production.
    J'avais étudié l'agilité et Scrum en cours mais c'est la première fois que je met en pratique ces concepts. Je m'investis dans la construction de nos processus agiles grâce à notre PO expérimenté et pédagogue j'ai pu récupérer la préparation et l'animation des démos qui sont pour moi un moment clé. J'ai égalemet pu particpier à l'agile tour et rencontrer d'autres équipes pour échanger sur nos pratiques.
  </p>
  <p>
    Cette expérience m'a permis d'aller au delà de la technique et de comprendre ce que le métier de développeur signifie en entreprise. C'est un métier bien plus social que l'image qu'il renvoie. Notre mission principale est de construire un produit suffisament fiable pour être vendu. On doit être capable de communiquer les enjeux de la tech pour que l'entreprise puisse prendre les bonnes décisions. Mais inversement on doit être capable de comprendre les enjeux business pour que nos solutions soit adaptés.
  </p>
</div>