<div class='experience-show-content total container'>
  <p>
    Pour mon tout premier stage j'ai eu la chance de travailler au siège de la
    pétrochimie de TotalEnergies à Bruxelles. J'ai été intégré à un projet pour
    créer un algorithmes dans le but d'évaluer la  solidité financière d'une entreprise
    cliente afin de lui proposer un élai et une limite de crédit. On parle de client
    avec des commandes de plusieurs millions par mois. L'enjeux en terme financier est
    donc très important.
  </p>
  <p>
    J'ai à la chance de travailler sur un projet se basant sur de l'apprentissage supervisé
    avant que ce soit à la mode. Je n'ai pas touché à cette partie, mon travail était d'
    aider à créer la plateforme web qui allait être utilisé par les credit manager pour 
    délivrer ces délais et limites de crédit.
  </p>
</div>