<div class='experience-show-content total container'>
  <p>
    En 2017, Alphago bat Lee Sedol au jeu de Go. Je suis alors en école d'ingénieur spécialisé en informatique, et je me passionne de plus en plus pour les nouvelles technologies. J'y étudie principalement des applications industrielles, donc de l'embarqué ou de l'automatisme. 1 an plus tard, je dois chercher mon premier stage et je ne suis pas encore fixé sur ma spécialisation, mais le développement de software m'attire plus que l'infrastructure et la gestion de projet.
  </p>
  <p>
    Mon père travaille chez TotalEnergies et me parle d'un projet d'algorithme d'évaluation financière au siège de la pétrochimie à Bruxelles. L'idée est assez ambitieuse et cherche à utiliser l'apprentassiage supervisé pour évaluer la solidité financière d'une entreprise cliente afin d'adapter ses délais et limites de crédits (pouvoir payer à X mois et jusqu'à Y euros). TotalEnergies fourni des produits pétrochimiques à des entreprises qui commandent des millions d'euros par mois. L'enjeux de l'évaluation de ces entreprises est donc de taille.
  </p>
  <p>
     Le deep learning commence à se démocratiser. Ma curiosité est piqué et je suis super content de pouvoir travailler sur un projet de ce type même si je ne suis pas directement impliqué dans la partie algorithmique. Dans mon stage je vais participer à la création de la plateforme web qui va permettre aux credit manager de consulter les évaluations de l'algorithme et de les modifier si besoin.
  </p>
  <p>
    Le projet est en phase de POC seul l'ingénieur qui l'as lancé travaille dessus, je suis là en renfort pour reprendre le développement de la partie web et lui permettre de se concentrer sur l'algorithme. On utilise du Python avec le framework Flask et c'est ainsi que je me met à développer ma première application web. J'ai déjà fait du Python en cours mais pour des scripts ou de l'analyse de data. Là je découvre la puissance de Flask, de l'orienté objet et de la programmation web. Coté base de donnée je travaille avec PostgresSQL et je découvre le principe d'ORM avec SQLAlchemy.
  </p>
</div>