<div class='experience-show-content total container'>
  <p>
    En 2017, Alphago bat Lee Sedol au jeu de Go. Je suis alors en école d'ingénieur spécialisé en informatique, et je me passionne de plus en plus pour les nouvelles technologies. J'y étudie principalement des applications industrielles, donc de l'embarqué ou de l'automatisme. La même année, je dois chercher mon premier stage et je ne suis pas encore fixé sur ma spécialisation, mais le développement de software m'attire plus que l'infrastructure et la gestion de projet. Mon père travaille chez TotalEnergies, et me parle d'un projet d'algorithme d'évaluation financière au siège de la pétrochimie à Bruxelles. 
  </p>
  <p>
    Le projet est ambitieux. A l'aide de l'apprentissage supervisé, l'application doit évaluer les conditions de crédit des entreprises clientes. Le deep learning commence à se démocratiser, je suis donc très enthousiaste à l'idée de participer à un projet qui utilise cette technologie. Certes, je ne travaille pas directement sur l'algorithme, mais je participe à la création de la plateforme web qui permettra de consulter les évaluations de l'algorithme, et de les adapter si besoin. Le projet est en phase de POC. Seul l'ingénieur qui l'a lancé travaille dessus, je suis là en renfort pour reprendre le développement de la partie web. Je connais déjà Python mais j'apprends à l'utiliser pour le web grâce au framework Flask. C'est l'occasion pour moi de découvrir le principe des ORM avec SQLAlchemy, et des API REST.
  </p>
</div>