<div class='experience-show-content total container'>
  <p>
    C'est mon tout premier stage d'ingénieur. Je suis BAC+4 et je veux travailler dans l'informatique mais je ne suis pas encore fixé sur ma spécialisation. Le développement de software m'attire plus que l'infrastructure ou la gestion projet. A l'école je m'oriente vers des applications industrielles donc de l'embarqué ou de l'automatisme.
  </p>
  <p>
    Mon père travaille chez TotalEnergies et me parle d'un projet d'algorithme d'évaluation financière au siège de la pétrochimie à Bruxelles. L'idée est assez ambitieuse et cherche à utiliser l'apprentassiage supervisé pour évaluer la solidité financière d'une entreprise cliente afin d'adapter ses délais et limites de crédits (pouvoir payer à X mois et jusqu'à Y euros). TotalEnergies fourni des produits pétrochimiques à des entreprises qui commandent des millions d'euros par mois. L'enjeux de l'évaluation de ces entreprises est donc très important.
  </p>
  <p>
    On est alors en 2017 un an après la victoire d'AlphaGo sur Lee Sedol au jeu de Go. Le deep learning commence à se démocratiser. Ma curiosité est piqué et je suis super content de pouvoir travailler sur un projet de ce type même si je ne suis pas directement impliqué dans la partie algorithmique. Dans mon stage je vais participer à la création de la plateforme web qui va permettre aux credit manager de consulter les évaluations de l'algorithme et de les modifier si besoin.
  </p>
  <p>
    Le projet est en phase de POC on est une petite équipe de 2 ingénieurs et un chef de projet. On utilise du Python avec le framework Flask et c'est ainsi que je me met à développer ma première application web. J'ai déjà fait du Python en cours mais c'était plus pour des scripts ou des petits programmes. Là je découvre la puissance de Flask, de la POO et de la programmation web. J'ai aussi l'occasion de travailler avec PostgresSQL et de découvrir les bases de données relationnelles et des ORM avec SQLAlchemy.
  </p>
</div>