.company {
  margin-top: 20px;
}

.company-header {
  display: flex;
  justify-content: space-between;
}

.company-logo { margin: auto 0; }

.company-logo.square-logo { height: 3rem; }

.company-logo.long-logo { height: 1.5rem; }

.company-header h2 {
  font-size: 1.3rem;
  margin: 0 0 10px 0;
}

.company-header .experience-duration {
  font-size: 0.8rem;
  font-style: italic;
  margin: 0;
}

.company-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin: 10px 0;
}