.experience-summary-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.experience-summary-cards h2 {
  margin-bottom: 0;
}

.experience-summary-cards-subtitle {
  margin-top: -8px;
  color: var(--color-secondary-near);
}

.experience-summary-cards-link {
  text-decoration: none;
  color: inherit;
}