.experience-summary-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.experience-summary-cards-link {
  text-decoration: none;
  color: inherit;
}

.experience-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin: 10px 0;
}