.experiences-show-header {
  display: flex;
  justify-content: space-between;
}

.experiences-show-header h1 {
  overflow: ellipsis;
}

.experiences-show-header-details {
  display: flex;
  gap: 10px;
}

.experiences-show-header h1 {
  margin-top: 0;
  margin-bottom: 5px;
}

.experiences-show-duration {
  font-size: 0.8rem;
  font-style: italic;
  margin: 0;
}

.experiences-show-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 10px;
}

.experiences-show-square-logo { height: 57px; }

@media (max-width: 425px) {
  .experiences-show-back-button span { display: none; }
}
